:root {
    --primary-color: #f6d365;
    --secondary-color:#df0054;

}

body {
    max-width: 1400px;
    margin: 0 auto;
}

p{
  padding: 20px;
  border-radius: 2px;
  font-size: 18px;
 
}
.col-3 {
   grid-template-columns: 1fr 1fr;
}
footer .email-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
    text-align: center;
}
footer .social-links a {
    margin: 0 20px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    transition:all 150ms ease-in-out;
  
}
footer .social-links a:hover {
    color: white;
    background-color: aqua;
}
footer .contact-box {
    background-color: #5B5754;
    padding: 30px 120px;
    border-radius: 10px;
  
}
.homepage-container {
    background-color:bisque
}